@page "/"
@using UpSchool.Domain.Services;
@using UpSchool.Wasm.Commons.Utilities;
@inject NavigationManager NavigationManager
@inject IToasterService ToastService
@inject IUrlHelperService UrlHelperService
<h2>Index Page</h2>
<button class="btn btn-info" @onclick="@(()=>NavigationManager.NavigateTo("/passwordGenerator/{Length}"))">Go to the Password Generator Page</button>

@code{
    public ToasterLogger toasterLogger;
    public int Length = 25;
    public string TitanicUrl { get; set; }
    public ConsoleLogger ConsoleLogger = new ConsoleLogger();
    protected override void  OnInitialized()
    {
        toasterLogger = new ToasterLogger(ToastService);
        toasterLogger.Log("Component is being initialized.");
        //ConsoleLogger.Log("Component is being initialized.");

        TitanicUrl = UrlHelperService.ApiUrl;
        base.OnInitialized();
    }
}